<div layout="column" ng-cloak class="md-inline-form">


<!-- <h3 style="text-align: center;">Your Tasks</h3> -->
	<!-- <h1 class="animated infinite shake ">Example</h1> -->
	<div 
	layout="column" 
	ng-cloak 
	class="md-inline-form">
	<!-- <a href="http://192.168.1.101:8080/" ui-sref='home'>TEST</a> -->
		<legend style="text-align: center;">Your Tasks</legend>
<!-- <md-divider></md-divider> -->
<!-- <button ng-click='testFunc()'>TEST</button> -->
		<md-list-item 
		ng-hide="task.done || task.complete"  
		ng-click="showDetails(task.title,task.description)" 
		ng-repeat="task in tasks"
		class="secondary-button-padding"
		ng-class="{'animated':task, 'infinite':task.shaky, 'shake': task.shaky, 'rotateOutUpRight': task.byebye}"
		>

		<p 
		 class=" animated infinite"
		 ng-class="{}">{{task.title}}</p>

		<md-checkbox 
		class="md-secondary"
		ng-click="checkbox(task); test"></md-checkbox>

		</md-list-item>
		</div>
		<md-button 
		class="md-raised md-warn" 
		ui-sref='addTask'
		>+ Add new task</md-button>

		
		<div ng-show="showCompleted">

		<legend style="text-align: center; margin-top: 20px">Completed</legend>

		<md-list-item 
		ng-show="task.done || task.complete" 
		class="secondary-button-padding" 
		ng-click="showDetails(task.title,task.description)" 
		ng-repeat="task in tasks">

		<p>{{task.title}}</p>


		</md-list-item>

		<md-button 
		class="md-accent" 
		ng-click="clear() ; showCompletedToFalse()">Remove Completed Tasks</md-button>
	
		</div>

	</div>
</div>
